Repository shelbyklein/ezra, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, documentation, tests, dependencies, github-actions, database, ai

.github/labeler.yml:

# Configuration for labeler action

frontend:
  - frontend/**/*

backend:
  - backend/**/*

documentation:
  - '**/*.md'
  - docs/**/*
  - claude_docs/**/*

tests:
  - '**/*.test.ts'
  - '**/*.test.tsx'
  - '**/*.spec.ts'
  - '**/*.spec.tsx'
  - '**/tests/**/*'
  - '**/__tests__/**/*'

dependencies:
  - '**/package.json'
  - '**/package-lock.json'
  - '**/yarn.lock'

github-actions:
  - '.github/**/*'

database:
  - '**/migrations/**/*'
  - backend/knexfile.ts
  - backend/src/db/**/*

ai:
  - '**/ai.routes.ts'
  - '**/anthropic.ts'
  - frontend/src/components/AI/**/*
  - backend/routes/ai.routes.ts

Clean up TypeScript warnings and add comprehensive user documentation
  claude_docs/currentTask.md
  claude_docs/projectRoadmap.md
  docs/AI_FEATURES_GUIDE.md
  docs/KEYBOARD_SHORTCUTS.md
  docs/USER_GUIDE.md
  frontend/.eslintrc.json
  frontend/src/components/AI/ChatBubble.tsx
  frontend/src/components/Auth/__tests__/Login.test.tsx
  frontend/src/components/Board/Board.tsx
  frontend/src/components/Layout/AppLayout.tsx
  frontend/src/components/Notebook/NotebookLayout.tsx
  frontend/src/components/Settings/BackupSettings.tsx
  frontend/src/components/Settings/ProfileSettings.tsx
  frontend/src/components/Tasks/FileUpload.tsx
  frontend/src/components/Tasks/TaskAttachments.tsx
  frontend/src/hooks/__tests__/useKeyboardShortcuts.test.tsx
  frontend/src/pages/NotebooksHome.tsx
  frontend/src/setupTests.ts
Labels: frontend, documentation, tests, ai

Update documentation after TypeScript cleanup and debug session
  claude_docs/currentTask.md
  claude_docs/nextSteps.md
Labels: documentation

Add image upload functionality to notebooks
  backend/routes/upload.routes.ts
  backend/src/index.ts
  claude_docs/currentTask.md
  docs/USER_GUIDE.md
  frontend/src/components/Notebook/Editor/EditorToolbar.tsx
  frontend/src/components/Notebook/Editor/ImageUpload.tsx
  frontend/src/components/Notebook/Editor/NotebookEditor.tsx
  frontend/src/components/Notebook/Editor/extensions/SlashCommands.tsx
Labels: frontend, backend, documentation

Add image resize and manipulation controls to notebook editor
  .claude/agents/web-ux-designer.md
  docs/USER_GUIDE.md
  frontend/package.json
  frontend/src/components/Notebook/Editor/EditorToolbar.tsx
  frontend/src/components/Notebook/Editor/ImageToolbar.tsx
  frontend/src/components/Notebook/Editor/NotebookEditor.tsx
  frontend/src/components/Notebook/Editor/editor.css
  frontend/src/components/Notebook/Editor/image-resize.css
  frontend/src/styles/global.css
  package-lock.json
Labels: frontend, documentation, dependencies

feat(notebook): enhance column system with borders, alignment controls, and grid layout
  claude_docs/currentTask.md
  claude_docs/projectRoadmap.md
  claude_docs/techStack.md
  docs/USER_GUIDE.md
  frontend/src/components/Notebook/Editor/ColumnToolbar.tsx
  frontend/src/components/Notebook/Editor/EditorToolbar.tsx
  frontend/src/components/Notebook/Editor/NotebookEditor.tsx
  frontend/src/components/Notebook/Editor/extensions/SlashCommands.tsx
  frontend/src/components/Notebook/Editor/extensions/columns/Column.tsx
  frontend/src/components/Notebook/Editor/extensions/columns/ColumnBlock.tsx
  frontend/src/components/Notebook/Editor/extensions/columns/ColumnCommands.tsx
  frontend/src/components/Notebook/Editor/extensions/columns/columns.css
  frontend/src/components/Notebook/Editor/extensions/columns/index.ts
Labels: frontend, documentation

fix(notebook): enable link opening in notebook editor
  frontend/src/components/Notebook/Editor/NotebookEditor.tsx
  frontend/src/components/Notebook/Editor/editor.css
Labels: frontend

fix(notebook): enable page reordering within same folder via drag-and-drop
  frontend/src/components/Notebook/NotebookSidebar/DraggableNotebookSidebar.tsx
Labels: frontend

fix(notebook): fix drag handle event propagation for page reordering
  frontend/src/components/Notebook/NotebookSidebar/DraggableNotebookSidebar.tsx
Labels: frontend

feat(notebooks): add star page functionality and favorites section on dashboard
  backend/routes/notebooks.routes.ts
  claude_docs/codebaseSummary.md
  claude_docs/currentTask.md
  claude_docs/projectRoadmap.md
  frontend/src/components/Dashboard/Dashboard.tsx
  frontend/src/components/Notebook/Editor/NotebookEditor.tsx
Labels: frontend, backend, documentation

fix(dashboard): correct favorite page navigation URL pattern
  backend/routes/notebooks.routes.ts
  claude_docs/codebaseSummary.md
  claude_docs/currentTask.md
  frontend/src/components/Dashboard/Dashboard.tsx
Labels: frontend, backend, documentation

feat(deployment): add Replit deployment configuration
  .replit
  DEPLOY_REPLIT.md
  backend/knexfile.ts
  backend/src/index.ts
  claude_docs/codebaseSummary.md
  claude_docs/currentTask.md
  claude_docs/nextSteps.md
  package.json
  replit.nix
  scripts/replit-setup.sh
Labels: backend, documentation, dependencies, database

replit stuff
  backend/package.json
  frontend/package.json
  shared/package.json
Labels: frontend, backend, dependencies

fix: add TypeScript and Knex as root dependencies for Replit
  package.json
  scripts/replit-setup.sh
Labels: dependencies

replit
  package.json
Labels: dependencies

feat(deployment): add Docker deployment configuration
  .dockerignore
  .env.docker
  .env.production.vps
  DEPLOY_DOCKER.md
  backend/Dockerfile
  claude_docs/codebaseSummary.md
  claude_docs/currentTask.md
  claude_docs/nextSteps.md
  docker-compose.yml
  ecosystem.config.js
  frontend/Dockerfile
  frontend/docker-entrypoint.sh
  frontend/nginx.conf
  nginx/ezra.conf
Labels: frontend, backend, documentation

docs: update README with Docker setup instructions
  README.md
Labels: documentation

fix: change frontend port to 3005 in Docker configuration
  .env.docker
  DEPLOY_DOCKER.md
  README.md
  docker-compose.yml
Labels: documentation

docs(claude_docs): update documentation with Docker deployment details
  claude_docs/codebaseSummary.md
  claude_docs/currentTask.md
  claude_docs/techStack.md
Labels: documentation

feat(deployment): add multiple Docker deployment options for easier setup
  .gitignore
  README.md
  docker-compose.full.yml
  docker-compose.production.yml
  docker-compose.simple.yml
  quick-start.sh
Labels: documentation

docs(claude_docs): update documentation with new Docker deployment options
  claude_docs/codebaseSummary.md
  claude_docs/currentTask.md
Labels: documentation

feat(deployment): add comprehensive deployment scripts
  README.md
  deploy.sh
  start.sh
Labels: documentation

docker
  README.md
  docker-compose.yml
Labels: documentation

yes
  backend/Dockerfile
  backend/routes/auth.routes.ts
  claude_docs/codebaseSummary.md
  claude_docs/currentTask.md
  claude_docs/nextSteps.md
  claude_docs/projectRoadmap.md
  docker-compose.alt-ports.yml
  frontend/Dockerfile
  frontend/src/components/Dashboard/Dashboard.tsx
  frontend/src/components/Settings/ProfileSettings.tsx
  package-lock.json
Labels: frontend, backend, documentation, dependencies

feat: implement complete password recovery system
  README.md
  backend/.env.example
  backend/check-db.ts
  backend/migrations/20240106_add_project_tags.ts
  backend/migrations/20240107_add_task_attachments.ts
  backend/migrations/20240108_create_notebooks.ts
  backend/migrations/20240109_add_user_api_key.ts
  backend/migrations/20240110_create_chat_history.ts
  backend/migrations/20240111_add_notebook_tags.ts
  backend/migrations/20240112_add_notebook_project_association.ts
  backend/migrations/20250731003609_add_password_reset_tokens.ts
  backend/models/User.ts
  backend/package.json
  backend/routes/auth.routes.ts
  backend/run-migrations.ts
  backend/src/index.ts
  backend/utils/email.ts
  claude_docs/codebaseSummary.md
  claude_docs/currentTask.md
  claude_docs/nextSteps.md
  claude_docs/projectRoadmap.md
  frontend/src/App.tsx
  frontend/src/components/Auth/ForgotPassword.tsx
  frontend/src/components/Auth/Login.tsx
  frontend/src/components/Auth/ResetPassword.tsx
  frontend/src/services/api.ts
  frontend/vite.config.ts
Labels: frontend, backend, documentation, dependencies, database

chore: update .claude command files - remove sound notifications
  .claude/commands/debug.md
  .claude/commands/git.md
  .claude/commands/plan.md
Labels: documentation

fix: resolve build errors, ESLint issues, and authentication problems
  frontend/.env.example
  frontend/jest.config.cjs
  frontend/nginx.conf
  frontend/src/components/AI/ChatBubble.tsx
  frontend/src/components/AI/ChatInterface.tsx
  frontend/src/components/Auth/Login.tsx
  frontend/src/components/Auth/LoginDevTools.tsx
  frontend/src/components/Board/__tests__/TaskCard.test.tsx
  frontend/src/components/Tasks/AttachmentsList.tsx
  frontend/src/contexts/WebSocketContext.tsx
  frontend/src/setupTests.ts
Labels: frontend, tests, ai

remove: eliminate all Replit references from codebase
  DEPLOY_REPLIT.md
  README.md
  backend/knexfile.js
  backend/knexfile.ts
  backend/src/index.ts
  claude_docs/codebaseSummary.md
  claude_docs/currentTask.md
  claude_docs/nextSteps.md
  claude_docs/techStack.md
Labels: backend, documentation, database

docs: streamline and improve README.md structure
  README.md
Labels: documentation

fix: resolve database schema conflicts and TypeScript compilation errors
  backend/20240113_create_notebook_pages.js
  backend/migrations/20240113_create_notebook_pages.ts
  backend/src/index.ts
  claude_docs/codebaseSummary.md
  claude_docs/currentTask.md
Labels: backend, documentation, database

fix: implement Home navigation refresh functionality
  frontend/src/components/Layout/AppLayout.tsx
Labels: frontend

docs: update Claude documentation with Home navigation refresh fix
  claude_docs/codebaseSummary.md
  claude_docs/currentTask.md
Labels: documentation

feat: improve chat UX with animated loading and natural AI responses
  backend/routes/ai.routes.ts
  claude_docs/currentTask.md
  claude_docs/nextSteps.md
  claude_docs/projectRoadmap.md
  frontend/src/components/AI/ChatBubble.tsx
  frontend/src/components/common/AnimatedEllipsis.tsx
Labels: frontend, backend, documentation, ai

fix: add missing database columns to Docker entrypoint script
  backend/docker-entrypoint.sh
Labels: backend

fix: add missing started_at column to chat_conversations table
  backend/docker-entrypoint.sh
Labels: backend

fix: resolve database schema mismatches in API endpoints
  .mcp.json
  backend/routes/search.routes.ts
  backend/utils/contextSearch.ts
  claude_docs/currentTask.md
  claude_docs/nextSteps.md
Labels: backend, documentation

fix: resolve Traefik integration and frontend health check issues
  docker/DEPLOY_DOCKER.md
  docker/README.md
  docker/docker-compose.yml
Labels: documentation

fix: resolve CORS issues and missing database tables
  docker/DEPLOY_DOCKER.md
  docker/README.md
  docker/docker-compose.yml
Labels: documentation

feat: add project deletion to edit modal and fix color picker form submission
  frontend/Dockerfile
  frontend/nginx.conf
  frontend/src/components/Projects/CreateProjectModal.tsx
  frontend/src/components/common/ColorPicker.tsx
Labels: frontend

fix: resolve mobile UI conflicts with inline caret navigation for notebooks
  backend/Dockerfile
  backend/docker-entrypoint-new.sh
  backend/docker-entrypoint.sh
  backend/middleware/rateLimiter.ts
  backend/migrations/20240100_initial_schema.ts
  backend/migrations/20240113_create_notebook_folders.ts
  backend/migrations/20240114_create_notebook_blocks.ts
  backend/migrations/20240115_add_folder_id_to_notebook_pages.ts
  backend/package.json
  backend/routes/auth.routes.ts
  backend/run-migrations.ts
  backend/src/index.ts
  claude.md
  claude_docs/currentTask.md
  claude_docs/nextSteps.md
  docker/docker-compose.yml
  frontend/src/components/AI/ChatBubble.tsx
  frontend/src/components/Board/Board.tsx
  frontend/src/components/Dashboard/Dashboard.tsx
  frontend/src/components/Layout/AppLayout.tsx
  frontend/src/components/Notebook/Editor/NotebookEditor.tsx
  frontend/src/components/Notebook/NotebookCoverPage.tsx
  frontend/src/components/Notebook/NotebookLayout.tsx
  frontend/src/components/Projects/CreateProjectModal.tsx
  frontend/src/components/Projects/ProjectList.tsx
  frontend/src/components/Tasks/CreateTaskForm.tsx
  frontend/src/components/Tasks/TaskDetailModal.tsx
  package-lock.json
Labels: frontend, backend, documentation, dependencies, database, ai

feat: enhance mobile UI/UX with compact layouts and icon-only buttons
  claude_docs/currentTask.md
  claude_docs/nextSteps.md
  frontend/src/components/AI/ChatBubble.tsx
  frontend/src/components/Chat/Chat.tsx
  frontend/src/pages/NotebooksHome.tsx
Labels: frontend, documentation, ai
